<%- include('partials/header') %>



<section id="catalog">
        <h1>Notre catalogue</h1>

        <div class="articles only-display-3-articles" id="articles-list">

         <% coffeeList.forEach(coffee => { %>
          <article>
           <img
  src="../images/coffees/<%= coffee.reference %>.png"
  alt="<%= coffee.name %> - <%= coffee.reference %>"
/>
            <div>
              <h2> <%= coffee.name %> </h2>
              <p> <%= coffee.country_name %> </p>
              <p> Prix: <%= coffee.price  %> € </p>
              <p>ref: <%= coffee.reference %></p>
              <p>disponibiliter : <%= coffee.available ?"oui":"non"%></p>
                                        
                
          <div class="coffee-description" style="display: none;">
            <p><%= coffee.description %></p>
          </div>

          
          <a class="toggle-description button-outline" data-coffee-id="<%= coffee.id %>">
            Voir le détail
          </a>
        </div>
      </article>
    <% }) %>
  </div>

  <button class="button" id="see-all-products-button">
    Voir tous les produits
  </button>
</section>

<script>
  
  const seeAllButton = document.getElementById('see-all-products-button');
  const articlesList = document.getElementById('articles-list');
  seeAllButton.addEventListener('click', () => {
    articlesList.classList.remove('only-display-3-articles');
    seeAllButton.style.display = 'none';
  });

  
  const descriptionButtons = document.querySelectorAll('.toggle-description');
  descriptionButtons.forEach(button => {
    button.addEventListener('click', function() {
      
      const description = this.closest('article').querySelector('.coffee-description');

      
      if (description.style.display === 'none' || !description.style.display) {
        description.style.display = 'block';
        this.textContent = 'Masquer le détail';
      } else {
        description.style.display = 'none';
        this.textContent = 'Voir le détail';
      }
    });
  });
</script>

<%- include('partials/footer') %>